@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    
    h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 48.76px;
        text-align: center;
        padding-top: 147px;
        padding-left: 60px;
        max-width: 262px;
    }
    .top {
        background-image: url(img/mobimg/Starm1.png), url(img/mobimg/Starm2.png), url(img/mobimg/starm3.png), url(img/mobimg/starm4.png), url(img/mobimg/Starm5.png);
        background-position: calc(0% + 38px) 97px, calc(0% + 92px) 64px, calc(100%) -2.43px, calc(0% + 273px) 557px, calc(0% + 304px) 580px;
        height: 648.5px;
    }
    .top__content {
        font-weight: 400;
        font-size: 16px;
        line-height: 19.5px;
        text-align: center;
    }
    .middle {
        display: none;
    }
    .button-border {
        width: 285px;
        height: 55px;
        margin-left: 48px;
        margin-top: 36px;
    }
    .line {
        height: 51.5px;
      
    }
    h2 {
        font-size: 16px;
        font-weight: 700;
        line-height: 17.6px;
    }
    h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48.76px;
    }
    
    }
