*
{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Montserrat";
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }
  
  .top {
    height: 710px;
    background-color: #E1FF8F;
    background-repeat: no-repeat;
    background-image: url(img/Star11.png), url(img/Star12.png), url(img/Star13.png), url(img/Star14.png), url(img/Star15.png);
    background-position: calc(0% + 63px) 94px, calc(0% + 156px) 69px, calc(100%) -3.46px, calc(0% + 948px) 538px, calc(0% + 1013px) 548px;

  }
  h1 {
    color:#202027;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 217px;
    max-width: 769px;
  }
  
  .top__content {
    color:#202027;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    padding-top: 32px;
    max-width: 720px;
  }
  .line {
    color: #202027;
    padding-top: 27px;
    font-size: 18px;
    justify-content: center;
    padding: 27px;
    font-weight: 700;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    gap: 51px;
  }
  .line-back {
    background-color: #BCEC30;
  }
  .starline {
    width: 36px;
    height: 36px;
  }
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
.scrolling-text {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 10s linear infinite;
}
.line {
  overflow: visible; 
  white-space: nowrap; 
  animation: scroll 10s linear infinite;
}

  .button-border {
    width: 234px;
    height: 49px;
    margin-top: 44px;
    border-radius: 30px;
    background: #202027;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border: 1px solid black;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .button-border:hover {
    background-color: #FFFFFF;
    color: #202027;
  }
.button-start {
  text-decoration: none;
}
.middle {
    background: #202027;
    background-image: url(img/Star21.png), url(img/Star22.png), url(img/Star23.png);
    background-position: calc(0% + 27.97px) 770px, calc(0% + 45.18px) 822px, calc(100%) 145.92px, calc(0% + 948px) 538px, calc(0% + 1013px) 548px;
    background-repeat: no-repeat;
  }

.game {

    padding-top: 72px;
    column-gap: 32px;
    display: flex;
}
.name {
    background: #202027;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 24px;
    max-width: 740px;
}
.name-mob {
    display: none;
}
h3 {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 740px;
    padding-top: 32px;
}
.name__content {
    color:#FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    padding-top: 32px;
    max-width: 720px;
}
.game__container {
      display: grid;
      gap: 32px;
      grid-template-columns: repeat(3, 1fr);
      align-content: flex-start;
      grid-template-rows: auto;
}

.game__content {
    color: #202027;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-decoration: none;
    background-color: #fff;
    width: 354px;
    height: 159px;
    border-radius: 30px;
    padding-top: 338px;
    padding-left: 24px;
}
.game__content:hover {
  transform: scale(1.05);
  }

.game__num {
  background-color: #F7F7F7;
  width: 108px;
  font-size: 16px;
  height: 36px;
  border-radius: 52px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.game__name {
  margin-top: 24px;
  padding-left: 10px;
  font-size: 32px;
  font-weight: 700;
  width: 117px;
}

.game__1 {
    background-image: url(img/game1.png);
    background-repeat: no-repeat;
    grid-row: 1/2;
}

.game__2 {
    background-image: url(img/game2.png);
    background-repeat: no-repeat;
    height: 198px;
    grid-row: 1/3;
}

.game__3 {
    background-image: url(img/game3.png);
    background-repeat: no-repeat;
    grid-row: 1/2;
}
.game__4 {
  background-image: url(img/game4.png);
  background-repeat: no-repeat;
  height: 237px;
  grid-row: 2/4;
  
}

.game__5 {
  background-image: url(img/game5.png);
  background-repeat: no-repeat;
  height: 198px;
  grid-row: 3/4;
}

.game__6 {
  background-image: url(img/game6.png);
  background-repeat: no-repeat;
  height: 237px;
  grid-row: 2/4;
}

.minidesk {
  background-color:  #202027;
  background-repeat: no-repeat;
  background-image: url(img/Starmi1.png), url(img/Starmi2.png), url(img/Starmi3.png), url(img/Starmi4.png);
  background-position: calc(0% + 1281.3px) 2363px, calc(0% + 1326.54px) 2396px, calc(0% + 1249px) 5684px, calc(0% + 1319px) 5636px;
  padding-bottom: 144px;
}
.minidesk__container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding-top: 72px;
}
.minidesk__link {
  text-decoration: none;
  color: #202027;
}
.minidesk__box {
  background-color: #ffff;
  border-radius: 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
    &_2 {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
    &_4 {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
    &_6 {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
}
.minidesk__img {
  width: 100%;
  height: 100%;
}
.minidesk__content {
  padding-top: 48px;
  padding-left: 48px;
  max-width: 504px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.minidesk__name {
  font-size: 48px;
  font-weight: 700;
}
.minidesk__des {
    padding-top: 24px;
    font-size: 24px;
    font-weight: 400;
    max-width: 467px;
  }
.minidesk__button {
  background-color: #202027;
  text-decoration: none;
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
  border-radius: 60px;
  width: 247px;
  height: 66px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.minidesk__button:hover {
  background-color: #FFFFFF;
  color: #202027;
}

.buttonm {
  text-decoration: none;
}
.footer {
  height: 150px;
  background-color: #BDED35;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.5px;
}


@import 'tablet';
@import 'mobile';




