*
{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Montserrat";
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }
  
  .top {
    height: 710px;
    background-color: #E1FF8F;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  h1 {
    color:#202027;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 217px;
    max-width: 740px;
  }
  
  .top_content {
    color:#202027;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    padding-top: 32px;
    max-width: 720px;
  }
  .line {
    color: #202027;
    background-color: #BCEC30;
    font-size: 18px;
    Width: Hug (3,220px);
    Height: Hug (90px);
    Left: -30px;
    Border: 1px;
    padding-top: 27px;
    padding-bottom: 27px;
    Gap: 10px;
  }
  .button-size {
    width: 234px;
    height: 49px;
    margin-top: 44px;
    border-radius: 30px;
    background:#202027;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .button {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }

.middle {
    background: #202027;
    background-image: url(img/bckggame.png);
}

.content {
    padding-top: 128px;
    column-gap: 32px;
    display: flex;
}
.name {
    background: #202027;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 24px;
    max-width: 740px;
}
h3 {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 740px;
    padding-top: 32px;
}
.name_content {
    color:#FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    padding-top: 32px;
    max-width: 720px;
}
.game_container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
      gap: 32px;
}

.game {
    color: #202027;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-decoration: none;
    background-color: #fff;
    width: 354px;
    height: 159px;
    border-radius: 30px;
    padding-top: 338px;
    padding-left: 24px;
}
.game_num {
  background-color: #F7F7F7;
  width: 108px;
  font-size: 16px;
  height: 36px;
  border-radius: 52px;
  text-align: center;
}
.game_name {
  margin-top: 24px;
  padding-left: 10px;
  font-size: 32px;
  font-weight: 700;
  width: 117px;
}

.game_1 {
    background-image: url(img/game1.png);
    background-repeat: no-repeat;
}

.game_2 {
    background-image: url(img/game2.png);
    background-repeat: no-repeat;
    height: 198px;
}

.game_3 {
    background-image: url(img/game3.png);
    background-repeat: no-repeat;
}
.game_4 {
  background-image: url(img/game4.png);
  background-repeat: no-repeat;
  height: 198px;
}

.game_5 {
  background-image: url(img/game5.png);
  background-repeat: no-repeat;
}

.game_6 {
  background-image: url(img/game6.png);
  background-repeat: no-repeat;
  height: 198px;
}
.next {
  background: #202027;
  background-image: url(img/bckmini.png);
}
